<div class="form-container">
  
  <div class="container-loader">
    <div class="loader" [ngClass]="{'hidden': !showLoader}"></div>
  </div>

  <div class="container-form-loader"  [ngClass]="{'hidden':!showFormLoader}">
  </div>

  <form autocomplete="off" [formGroup]="quotationForm"  (ngSubmit)="onSendExchange()" [ngClass]="{'hidden': showFormLoader}">
    <label for="amount-send" class="label-header">Tu envías exactamente</label>
    <div class="input-group">
      <input type="number" min="1" step="any" id="amount-send" 
        formControlName="base_amount">

      <div class="currency-select">
        <img [src]="baseCurrencySelected.flagUrl" alt="quotation currency flag" class="flag-icon" >
        <select formControlName="base_currency" name="base_currency">
          <option 
            *ngFor="let item of currenciesAvailable.base | keyvalue" 
            value="{{item.value.currency}}" 
            [selected]="item.value.currency==baseCurrencySelected.currency"
          >{{item.value.currency}}
          </option>
        </select>
      </div>
    </div>
    <span class="error" *ngIf="quotationForm.get('base_amount')?.invalid">Amount must be >=2 and <=999</span>

    <div class="fees">
      <div>
        <span class="bold">${{quotation1.pct_fee}}</span>
        <span class="bold">Percentage quotation fee</span>
      </div>
      <div>
        <span class="bold">${{quotation1.fixed_fee}}</span>
        <span>Fixed quotation fee</span>
      </div>
    </div>

    <hr>

    <div class="exchange">
      <div>
        <span class="bold">${{quotation1.balam_rate}} {{quotation1.quote_currency}} = $1 {{quotation1.base_currency}}</span>
        <span class="bold">Balam Rate</span>
      </div>
      <div>
        <span class="small">*Válido por 10 minutos</span>
      </div>
    </div>


    <label for="amount-receive" class="label-header">Recibes exactamente</label>
    <div class="input-group">
      <input type="number" id="amount-receive" min="1" value="{{quotation1.quote_amount}}" step="any" name="quote_amount"
      readonly>
      <div class="currency-select">
        <img [src]="quoteCurrencySelected.flagUrl" alt="quotation currency flag" class="flag-icon" >
        <select formControlName="quote_currency" name="quote_currency" >
          <option 
            *ngFor="let item of currenciesAvailable.quote | keyvalue" 
            value="{{item.value.currency}}" 
            [selected]="item.value.currency==quoteCurrencySelected.currency"
          >{{item.value.currency}}
          </option>
        </select>
      </div>
    </div>

    <p class="arrival-time">Tu dinero llega en <strong>15 minutos</strong></p>

    <div class="container-button">
      <button type="submit" [disabled]="quotationForm.invalid">Enviar ahora</button>
    </div>

  </form>

  <div class="powered-by">
    <p>Powered by</p>
    <img src="images/balam-logo.png" alt="Balam Logo">
  </div>
</div>